.submit {
  cursor: pointer;
  background: rgb(29, 228, 59);
  font-size: 60px;
  margin: 50px auto;
  width: 100px;
  border: none;
  border-radius: 50%;
  height: 100px;
}

.submit:active {
  background: rgb(6, 163, 30);
}