.delete {
  cursor: pointer;
  width: 40px;
  border: none;
  color: #fff;
  background: #f00;
  height: 40px;
  font-size: 30px;
  margin: 5px;
  border-radius: 50%;
}
.delete:active {
  color: #b7b7b7;
  background: rgb(155, 0, 0);
}